*.log
build/*
*.build
*.o
*.dSYM
*.pbxuser
*.perspectivev3
*.kext
*.cache
*(Autosaved)*
*.status
config.h
confdefs.h
conftest.*
Makefile
hfs_japanese/Makefile
hfs_japanese/hfs_japanese.kmodproj/Makefile
stamp-h*
*.xcuserstate
*.xcworkspacedata
*/xcuserdata/*
*.xcuserdatad
